body {
    font-family: 'Open Sans', sans-serif;
    color: "f9f9f9";
}

h1 {
    letter-spacing: 0.06em;
    font-size: 3em;
    text-transform: uppercase;
}

div.main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

